<h1>Blogs</h1>
<%= link_to '戻る', blogs_path %><br/>
<div id="blog-title">
  <p>
    <%= @blog.id %>:
    <span class="postTime">投稿日時:<%= @blog.created_at %></span>|
    <%= link_to "いいね", blog_path(@blog),method: :put,  params: { title: 'comment' }%>:<%= @blog.good %></span><br>
</p>
<span id="title"><%= @blog.title%></span>
</div>
<%= form_for ([@blog, @blog.comments.build]) do |f| %>
    <%= f.text_field :body ,:size=>"60" %>
    <%= f.submit %>
    <hr/>
<% end %>

<% if @blog.comments.any? %>
    <ul id="replies" style="list-style:none;">
    <% @blog.comments.each do |comment| %>
        <% if !comment.body.blank? %>
            <li class="reply">
              <span class="commentBody"><%= comment.body %></span>|<span class="postTime"><%= comment.created_at %></span>
            </li>
        <% end %>
    <% end %>
    </ul>
<% end %>
